# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\STUDIA_II\ZTP_LAB\Library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
